# Ignore node_modules and build files
backend/node_modules/
backend/dist/
frontend/node_modules/
frontend/dist/

# Ignore environment files
backend/.env
frontend/.env

# Ignore IDE/editor files
.vscode/
*.log