<div class="quantity-container">
  <h2>Assign Quantities to Work Packages</h2>

  <p-accordion *ngIf="locations.length">
    <p-accordionTab *ngFor="let location of locations" >
      <ng-template pTemplate="header">
        <span (click)="onLocationSelect(location)" >{{ lt + "-" + location.name }}</span>
      </ng-template>

      <div class="work-packages-container">
        <p-accordion [multiple]="true">
          <p-accordionTab
            *ngFor="let wp of workPackages"
          >
            <ng-template pTemplate="header">
              <span>{{ wp.name }}</span>
            </ng-template>

            <p><strong>Location Type:</strong> {{ wp.locationTypeId.name }}</p>

            <div *ngIf="wp.uoms.length > 0; else noUoms">
              <h4>UOMs:</h4>
              <div *ngFor="let uom of wp.uoms; let index = index" class="uom">
                <input [(ngModel)]="uom.quantityValue" />
                <span>{{ uom.name }} ({{ uom.abbreviation }})</span>
                <button (click)="saveQuantity(location, wp, uom)">Save</button>
              </div>
            </div>

            

            <ng-template #noUoms>
              <p class="no-uom">No UOM available</p>
            </ng-template>
          </p-accordionTab>
        </p-accordion>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
